.completedw-1{
  background-image: url(../images/13.png);
  display: flex;
}
.completedw-2{
  width: 50%;
  height: 70%;
  padding-top: 20%;
  margin-left: 17%;
  display: block;
}
.completedw-3{
  color: #fff;
  margin-top: 2%;
  margin-left: 27%;
  margin-bottom: 1%;
}
.completedw-4{
  width: 88%;
  margin-left: 6%;
}
