.accountq-1{
  background-image: url(../images/13.png);
  /*display: flex;*/
  padding-bottom: 4%;
  padding-top: 4%;
}
.accountq-2{
  color: #fff;
  margin-left: 8%;

}
.accountq-3{
  color: #fff;
  margin-top: 2%;
  margin-left: 30%;
  margin-bottom: 1%;
}

.accountq-4{
  background-color: #FFF0F5;
  padding-top: 4%;
  padding-bottom: 55%;
}
.accountq-5{
  width: 96%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 4%;
  padding-bottom: 8%;
}

.accountq-6 img{
  width: 20%;
  margin: 0 auto;
  display: block;
}
.accountq-7{
  margin-top: 4%;
}
.accountq-7 p{
  margin-left: 10%;
}
.accountq-8{
  margin-top: 4%;
}
.accountq-8 input{
  margin-left: 10%;
}

.accountq-11{
  margin-top: 4%;
}
.accountq-11 span{
  margin-left: 10%;
}
/**/
.accountq-12-1{
  width: 80%;
  height: 7%;
  margin: 0 auto;
  display: block;
  margin-top: 13%;
  color:#fff;
  border:2px solid;
  border-radius:5px;
  background-image: url(../images/13.png);
  padding-top: 2%;
  padding-bottom: 2%;
}
.accountq-13{
  margin-top: 4%;
}
.accountq-13 p{
  text-align: center;
}
