/*.feedback p{
  font-style: 14px;
  color: #000000;
}*/
.feedback-1{
  background-image: url(../images/13.png);
  display: flex;
}
.feedback-2{
  width: 50%;
  height: 70%;
  padding-top: 20%;
  margin-left: 17%;
  display: block;
}
.feedback-3{
  color: #fff;
  margin-top: 2%;
  margin-left: 30%;
  margin-bottom: 1%;
}
.feedback-4{
  background-color: #E5E5E5;
}
.feedback-4 p{
  padding-left: 3%;
  margin-left: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
}
.ant-cascader-picker{
  width: 100%;
  /*margin-top: 10%;*/
}
.ant-cascader-menu{
  height: 64px;
}
.feedback-6{
  background-color: #E5E5E5;
  padding-top: 1%;
  padding-bottom: 5%;
}
.feedback-6 input{
  width: 96%;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  display: block;
  border-radius: 1px;
  border-bottom: 1px solid #000;
  text-indent: 2px;
  margin-top: 4%;

}
.feedback-7{
    border-bottom: 1px solid #000;
    width: 96%;
    margin-left: 4%;
    margin-top: 4%;
}
.feedback-8{
    border-bottom: 1px solid #000;
    width: 96%;
    margin-left: 4%;
    margin-top: 4%;
}
.feedback-9{
    border-bottom: 1px solid #000;
    width: 96%;
    margin-left: 4%;
    margin-top: 4%;
}
/**/
.feedback-10-1{
  width: 80%;
  height: 7%;
  margin: 0 auto;
  display: block;
  margin-top: 13%;
  color:#fff;
  border:2px solid;
  border-radius:5px;
  background-image: url(../images/13.png);
  padding-top: 2%;
  padding-bottom: 2%;
}
.feedback-10{
  padding-bottom: 56%;
}
